<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>827859212968-83d5p7cdsavdll02mnrknrt88pos7ov5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.827859212968-83d5p7cdsavdll02mnrknrt88pos7ov5</string>
	<key>API_KEY</key>
	<string>AIzaSyDGFEV1nHL0rXqOKobiycsmjqmRikfcb40</string>
	<key>GCM_SENDER_ID</key>
	<string>827859212968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appShoe</string>
	<key>PROJECT_ID</key>
	<string>shoe-4d07a</string>
	<key>STORAGE_BUCKET</key>
	<string>shoe-4d07a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827859212968:ios:500e8aa2861dbb1644c09d</string>
	<key>DATABASE_URL</key>
	<string>https://shoe-4d07a.firebaseio.com</string>
</dict>
</plist>